@import "../font-awesome/css/font-awesome.css";

#megamenu-vx-config select,
#megamenu-vx-config textarea,
#megamenu-vx-config input[type="text"],
#megamenu-vx-config input[type="password"],
#megamenu-vx-config input[type="datetime"],
#megamenu-vx-config input[type="datetime-local"],
#megamenu-vx-config input[type="date"],
#megamenu-vx-config input[type="month"],
#megamenu-vx-config input[type="time"],
#megamenu-vx-config input[type="week"],
#megamenu-vx-config input[type="number"],
#megamenu-vx-config input[type="email"],
#megamenu-vx-config input[type="url"],
#megamenu-vx-config input[type="search"],
#megamenu-vx-config input[type="tel"],
#megamenu-vx-config input[type="color"],
#megamenu-vx-config .uneditable-input {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	padding: 6px;	
	font-size: 12px;	
	color: #555;
	line-height: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.disabled {
	cursor: default;	
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#megamenu-vx-config {
	font-size: 12px;
	min-height: 800px;
}

/* megamenu-vx config header */
.megamenu-vx-config-header {
	background: #eee;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	overflow:  hidden;
	.config-group {
		ul{
			margin: 20px 0 0 0;
			padding: 0;
			float: left;
		}
		li{
			list-style: none;
			display: block;
			float: left;
			margin-right: 20px;
			margin-bottom: 15px;
			min-height: 55px;
			.hasTip{
				display: block;
				color: #333;
				margin-bottom: 10px;
				font-weight: normal;
			}
			input, select, textarea {
				padding: 10px;
			}

		}
		fieldset {
			border: none;
			margin: 0;
			padding: 0;
		}
		.radio {
			label {
				margin-right: 10px;
			}
			input {
				margin-left: 0;
				margin-right: 3px;
				float: none;
			}
		}
		.toolitem-moveleft {
			display: inline-block;
			background: gold;
			margin-right: 10px;
			padding: 15px;
		}
		.toolitem-moveright {
			display: inline-block;
			background: gold;
			padding: 15px;
		}
		.radio-group {
			label {
				margin-right: 10px;
			}
		}
		.btn-group {
			.config-action {
				padding-bottom: 0;
			  padding-top: 0;
			}			
		}
	} /* end config group */
	.megamenu-vx-actions-group {
		clear: both;
		padding-top: 10px;
		overflow: hidden;
		.btn{
			float: right;
			margin: 0 0 0 10px;
		}
	}
	#megamenu-vx-config-groups {
		h3 {
			margin-top: 0;
		}
	}
	.megamenu-vx-messages-group {
		.toolbox-message {
			text-align: center;
			width: 50%;
			color: red;		 
		  position: absolute;
		  top: 10px;
		  left: 50%;
	    transform: translate(-50%);
		  -webkit-transform: translate(-50%);
		  -moz-transform: translate(-50%);
		  -ms-transform: translate(-50%);
		  -o-transform: translate(-50%);
		  margin-bottom: 10px;
		}
		
	}
	.megamenu-vx-links-group {
		a {
			margin-left: 10px;
		}
	}
}
/* end megamenu-vx config header */

/* megamenu-vx config content */
.megamenu-vx {
	.nav {		
		> li {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
			> a {
				border: 1px solid #ddd;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				color: #777;
				font-weight: bold;
			  padding: 10px 15px;
			}
			.dropdown-menu {
				border: 1px solid #ddd;
			  padding: 10px;
			  margin-top: 10px;
			  border-radius: 3px;
			  transition: all 0.1s ease 0s;
			  -webkit-transition: all 0.1s ease 0s;
			  -moz-transition: all 0.1s ease 0s;
			  min-width: 200px;
			  background: #f2f2f2;
			  -webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
			  z-index: 99;
			  .megamenu-vx-row {			  			
				  margin-bottom: 10px;		  		 
				  .megamenu-vx-col {
				  	padding: 0;				  					
						.megamenu-vx-col-inner {
							background: #fff;		
							margin-left:10px;
              border: 1px dotted #ddd;
						  border-radius: 3px;	
						  min-height: 30px;
						  padding: 10px;	
						  transition: all 0.1s ease 0s;
				      -webkit-transition: all 0.1s ease 0s;
				      -moz-transition: all 0.1s ease 0s;								
						}
						&:first-child {
							.megamenu-vx-col-inner {
								margin-left: 0;
							}
						}		  	
				  	ul {
				  		list-style: none;
				  		margin: 0;				  		
				  		li {
				  			margin-bottom: 5px;
				  			> a {				  				
								  border: 1px dotted #ddd;
						      border-radius: 3px;				  
								  color: #999;
								  display: block;
								  font-size: 12px;
								  line-height: 18px;
								  padding: 5px 20px 5px 10px;
								  transition: all 0.1s ease 0s;
								  -webkit-transition: all 0.1s ease 0s;
								  -moz-transition: all 0.1s ease 0s;
								  &:hover, &:focus {
								  	background: #eee;
								  	text-decoration: none;								  	
								  }
				  			}
				  			&:last-child {
				  				margin-bottom: 0;
				  			}
				  		}
				  	}
				  	.caret {
				  			display: none;
				  		}
				  	.submenu-group {				  		
				  		.megamenu-vx-submenu {
				  			background: #f2f2f2;
				  			border: 1px dotted #ddd;
				  			margin-top: 10px;
				  			padding: 10px;
				  			-webkit-border-radius: 3px;
								-moz-border-radius: 3px;
								border-radius: 3px;
				  		}
				  	}				  	
				  } /* end column */
				  &:last-child {
				  	margin-bottom: 0;
				  }
			  } /* end row */

			} /* end dropdown menu */
			.megamenu-vx-active {	
				.megamenu-vx-col-inner {
					box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
				  border-radius: 3px;
				  text-shadow: 0 1px 1px white;			
				}	
			}
		}
	}
	.hidden-collapse {
		display: none !important;
	}
}
/* end megamenu-vx config content */

@media (max-width: 768px) {
	.megamenu-vx {
		.collapse {
			display: block;
		}
		.nav {
			> li {
				margin-right: 0;
				margin-bottom: 10px;
				.dropdown-menu {
					.megamenu-vx-row {
						.megamenu-vx-col {
							margin-top: 10px;
							width: 100%;
							.megamenu-vx-col-inner {
								margin-left: 0;
							}
							&:first-child {
								margin-top: 0;
							}
							.dropdown-submenu {
								.dropdown-menu {
									margin-top: 10px;
									margin-left: 0;
								}
							}
						}
					}
				}			
			}
			.submenu-align-center {
			> .dropdown-menu {			 
			  transform: translate(0);
			  -webkit-transform: translate(0);
			  -moz-transform: translate(0);
			  -ms-transform: translate(0);
			  -o-transform: translate(-0);
			}
		}
		}
	}
}




