@import url(../../fonts/oswald_regular/stylesheet.css);
/* line 3, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education {
  color: #fff;
}
/* line 5, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .container-fluid {
  background: url("../../images/presets/education/bg-right-nav.png") no-repeat 100% 0;
  padding-bottom: 7px;
  padding-right: 30px;
}
/* line 10, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .navbar-collapse {
  background: url("../../images/presets/education/bg-left-nav.png") no-repeat 0 0;
  padding-bottom: 7px !important;
  padding-left: 30px;
}
/* line 15, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .nav {
  background: #3b281c;
  height: 52px;
}
/* line 18, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .nav > li {
  padding: 4px 0 0 0;
  margin: 0 4px 0 0;
}
/* line 21, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .nav > li > a {
  color: #b29581 !important;
  font-size: 14px;
  font-family: 'oswaldregular';
  line-height: 18px;
  padding: 15px 20px;
  text-transform: uppercase;
  text-shadow: none;
}
/* line 30, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .nav > li:last-child {
  margin-right: 0;
}
/* line 34, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .nav > li:hover > a, .style-theme_weebpal_education .nav > li:focus > a, .style-theme_weebpal_education .nav > li.open > a, .style-theme_weebpal_education .nav > li.active > a {
  background: #0c0703 !important;
  color: #fff !important;
}
/* line 41, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu {
  background: #0c0703;
}
/* line 43, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu .megamenu-vx-row {
  border-color: #39291c;
}
/* line 48, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu ul li > a {
  border-top-color: #39291c;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
  color: #fff;
  text-transform: none;
  padding: 7px 10px;
}
/* line 56, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu ul li > a:hover, .style-theme_weebpal_education .dropdown-menu ul li > a:focus {
  background: #32821f;
}
/* line 60, ../../sass/presets/theme_weebpal_education.scss */
.style-theme_weebpal_education .dropdown-menu ul li.active > a {
  background: #32821f;
}

/* line 69, ../../sass/presets/theme_weebpal_education.scss */
.vertical .container-fluid {
  background: none;
}
/* line 72, ../../sass/presets/theme_weebpal_education.scss */
.vertical .navbar-collapse {
  background: none;
}
/* line 75, ../../sass/presets/theme_weebpal_education.scss */
.vertical .nav {
  height: auto;
}
/* line 77, ../../sass/presets/theme_weebpal_education.scss */
.vertical .nav > li {
  border-bottom: 1px solid #b29581;
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  /* line 87, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .container-fluid {
    background: none;
    padding: 0;
  }
  /* line 91, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .navbar-collapse {
    background: #000;
    padding: 0;
  }
  /* line 95, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav {
    background: none;
    height: auto;
  }
  /* line 98, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li {
    background: none;
    margin: 0;
  }
  /* line 101, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li > a {
    border-color: #39291c;
    text-shadow: none;
  }
  /* line 106, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li:hover > a, .style-theme_weebpal_education .nav > li:focus > a, .style-theme_weebpal_education .nav > li.open > a, .style-theme_weebpal_education .nav > li.active > a {
    background: #0c0703 !important;
    border-color: #39291c;
    color: #fff !important;
  }
  /* line 110, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li:hover > a:hover, .style-theme_weebpal_education .nav > li:hover > a:focus, .style-theme_weebpal_education .nav > li:focus > a:hover, .style-theme_weebpal_education .nav > li:focus > a:focus, .style-theme_weebpal_education .nav > li.open > a:hover, .style-theme_weebpal_education .nav > li.open > a:focus, .style-theme_weebpal_education .nav > li.active > a:hover, .style-theme_weebpal_education .nav > li.active > a:focus {
    border-color: #39291c;
  }
  /* line 115, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li .dropdown-menu {
    background: none;
    border: none;
    box-shadow: none;
  }
  /* line 120, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li .dropdown-menu .megamenu-vx-row .megamenu-vx-col {
    border-top: 1px solid #39291c;
  }
  /* line 122, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li .dropdown-menu .megamenu-vx-row .megamenu-vx-col:first-child {
    border-top: none;
  }
  /* line 128, ../../sass/presets/theme_weebpal_education.scss */
  .style-theme_weebpal_education .nav > li .dropdown-menu li > a {
    margin: 0;
  }
}
