@import url(../../fonts/futura/stylesheet.css);
/* line 3, ../../sass/presets/theme_business.scss */
.style-theme_business {
  color: #fff;
}
/* line 5, ../../sass/presets/theme_business.scss */
.style-theme_business .navbar-collapse {
  background: #222;
}
/* line 9, ../../sass/presets/theme_business.scss */
.style-theme_business .nav > li {
  border-left: 1px solid #3d3d3d;
}
/* line 11, ../../sass/presets/theme_business.scss */
.style-theme_business .nav > li > a {
  border-left: 1px solid #000;
  color: #fff !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 18px;
  padding: 12px 25px;
  text-shadow: none;
  text-transform: uppercase;
}
/* line 22, ../../sass/presets/theme_business.scss */
.style-theme_business .nav > li:hover > a, .style-theme_business .nav > li:focus > a, .style-theme_business .nav > li.open > a, .style-theme_business .nav > li.active > a {
  background: #383838 !important;
  border-color: #000 !important;
}
/* line 27, ../../sass/presets/theme_business.scss */
.style-theme_business .nav > li:first-child {
  border-left: none;
}
/* line 29, ../../sass/presets/theme_business.scss */
.style-theme_business .nav > li:first-child > a {
  border-left: none;
}
/* line 35, ../../sass/presets/theme_business.scss */
.style-theme_business .dropdown-menu {
  background-color: #383838;
  border: none;
  font-size: 13px;
  margin: 0;
}
/* line 40, ../../sass/presets/theme_business.scss */
.style-theme_business .dropdown-menu .megamenu-vx-row {
  border-color: #444;
}
/* line 42, ../../sass/presets/theme_business.scss */
.style-theme_business .dropdown-menu .megamenu-vx-row .megamenu-vx-col {
  padding: 15px 20px;
}
/* line 46, ../../sass/presets/theme_business.scss */
.style-theme_business .dropdown-menu .megamenu-vx-row .megamenu-vx-col .dropdown-submenu .dropdown-menu:after {
  display: none;
}
/* line 55, ../../sass/presets/theme_business.scss */
.style-theme_business .dropdown-menu ul li > a {
  border-top-color: #444;
  color: #ccc;
  font-size: 13px;
  padding: 5xp 0 !important;
  text-transform: none;
}
/* line 61, ../../sass/presets/theme_business.scss */
.style-theme_business .dropdown-menu ul li > a:hover, .style-theme_business .dropdown-menu ul li > a:focus {
  color: #ff5328;
}
/* line 65, ../../sass/presets/theme_business.scss */
.style-theme_business .dropdown-menu ul li.active > a {
  color: #ff5328;
}

/* line 75, ../../sass/presets/theme_business.scss */
.vertical .nav > li {
  background: none;
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #000;
  padding: 0;
}
/* line 80, ../../sass/presets/theme_business.scss */
.vertical .nav > li:first-child {
  border-top: none;
}
/* line 83, ../../sass/presets/theme_business.scss */
.vertical .nav > li:last-child {
  border-bottom: none;
}

@media (max-width: 992px) {
  /* line 92, ../../sass/presets/theme_business.scss */
  .style-theme_business .navbar-collapse {
    background: #000;
  }
  /* line 97, ../../sass/presets/theme_business.scss */
  .style-theme_business .nav > li > a {
    border-color: #444;
    color: #fff !important;
    padding: 10px 20px;
  }
  /* line 103, ../../sass/presets/theme_business.scss */
  .style-theme_business .nav > li:hover > a, .style-theme_business .nav > li:focus > a, .style-theme_business .nav > li.open > a, .style-theme_business .nav > li.active > a {
    background: #ff5328 !important;
    border-color: #444 !important;
    color: #fff !important;
  }
  /* line 107, ../../sass/presets/theme_business.scss */
  .style-theme_business .nav > li:hover > a:hover, .style-theme_business .nav > li:hover > a:focus, .style-theme_business .nav > li:focus > a:hover, .style-theme_business .nav > li:focus > a:focus, .style-theme_business .nav > li.open > a:hover, .style-theme_business .nav > li.open > a:focus, .style-theme_business .nav > li.active > a:hover, .style-theme_business .nav > li.active > a:focus {
    border-color: #444 !important;
    color: #fff !important;
  }
  /* line 115, ../../sass/presets/theme_business.scss */
  .style-theme_business .dropdown-menu {
    background: none;
    border: none;
  }
}
