@import url(../../fonts/oswald_regular/stylesheet.css);
/* line 3, ../../sass/presets/theme_weebpal_ishopping.scss */
.style-theme_weebpal_ishopping {
  color: #d9d9d9;
}
/* line 5, ../../sass/presets/theme_weebpal_ishopping.scss */
.style-theme_weebpal_ishopping .navbar-collapse {
  background: url("../../images/presets/ishopping/bg-menu.gif") repeat-x 0 0;
}
/* line 9, ../../sass/presets/theme_weebpal_ishopping.scss */
.style-theme_weebpal_ishopping .nav > li {
  background: url("../../images/presets/ishopping/line-menu.png") no-repeat right center;
  margin: 0;
  padding-right: 1px;
}
/* line 13, ../../sass/presets/theme_weebpal_ishopping.scss */
.style-theme_weebpal_ishopping .nav > li > a {
  color: #fff !important;
  font-family: oswaldregular;
  font-size: 14px;
  padding: 11px 20px;
  text-shadow: none;
  text-transform: uppercase;
}
/* line 21, ../../sass/presets/theme_weebpal_ishopping.scss */
.style-theme_weebpal_ishopping .nav > li:last-child {
  background: none;
  padding-right: 0;
}
/* line 26, ../../sass/presets/theme_weebpal_ishopping.scss */
.style-theme_weebpal_ishopping .nav > li:hover > a, .style-theme_weebpal_ishopping .nav > li:focus > a, .style-theme_weebpal_ishopping .nav > li.open > a, .style-theme_weebpal_ishopping .nav > li.active > a {
  background: url("../../images/presets/ishopping/bg-menu-active.gif") repeat-x #1f3c58;
  color: #fff !important;
}
/* line 33, ../../sass/presets/theme_weebpal_ishopping.scss */
.style-theme_weebpal_ishopping .dropdown-menu {
  background: url("../../images/presets/ishopping/bg-menu-active.gif") repeat-x 0 -1px #1f3c58;
  border-radius: none;
  border-top: none;
}
/* line 37, ../../sass/presets/theme_weebpal_ishopping.scss */
.style-theme_weebpal_ishopping .dropdown-menu .megamenu-vx-row {
  border-color: #304e6b;
}
/* line 42, ../../sass/presets/theme_weebpal_ishopping.scss */
.style-theme_weebpal_ishopping .dropdown-menu ul li > a {
  border-top-color: #304e6b;
  color: #b5cbdf;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  padding: 8px 0!important;
  text-transform: none;
}
/* line 49, ../../sass/presets/theme_weebpal_ishopping.scss */
.style-theme_weebpal_ishopping .dropdown-menu ul li > a:hover, .style-theme_weebpal_ishopping .dropdown-menu ul li > a:focus {
  color: #fff;
}
/* line 53, ../../sass/presets/theme_weebpal_ishopping.scss */
.style-theme_weebpal_ishopping .dropdown-menu ul li.active > a {
  color: #fff;
}

/* line 62, ../../sass/presets/theme_weebpal_ishopping.scss */
.vertical .navbar-collapse {
  background: none;
}
/* line 66, ../../sass/presets/theme_weebpal_ishopping.scss */
.vertical .nav > li {
  background: none;
  padding: 0;
}
/* line 69, ../../sass/presets/theme_weebpal_ishopping.scss */
.vertical .nav > li > a {
  color: #1f3c58 !important;
}

@media (max-width: 992px) {
  /* line 78, ../../sass/presets/theme_weebpal_ishopping.scss */
  .style-theme_weebpal_ishopping .navbar-collapse {
    background: #111;
  }
  /* line 82, ../../sass/presets/theme_weebpal_ishopping.scss */
  .style-theme_weebpal_ishopping .nav > li {
    background: none;
  }
  /* line 84, ../../sass/presets/theme_weebpal_ishopping.scss */
  .style-theme_weebpal_ishopping .nav > li > a {
    border-color: #444;
    text-shadow: none;
  }
  /* line 89, ../../sass/presets/theme_weebpal_ishopping.scss */
  .style-theme_weebpal_ishopping .nav > li:hover > a, .style-theme_weebpal_ishopping .nav > li:focus > a, .style-theme_weebpal_ishopping .nav > li.open > a, .style-theme_weebpal_ishopping .nav > li.active > a {
    background: #315c85 !important;
    border-color: #444;
    color: #fff !important;
  }
  /* line 93, ../../sass/presets/theme_weebpal_ishopping.scss */
  .style-theme_weebpal_ishopping .nav > li:hover > a:hover, .style-theme_weebpal_ishopping .nav > li:hover > a:focus, .style-theme_weebpal_ishopping .nav > li:focus > a:hover, .style-theme_weebpal_ishopping .nav > li:focus > a:focus, .style-theme_weebpal_ishopping .nav > li.open > a:hover, .style-theme_weebpal_ishopping .nav > li.open > a:focus, .style-theme_weebpal_ishopping .nav > li.active > a:hover, .style-theme_weebpal_ishopping .nav > li.active > a:focus {
    background: #315c85;
    border-color: #444;
  }
  /* line 99, ../../sass/presets/theme_weebpal_ishopping.scss */
  .style-theme_weebpal_ishopping .nav > li .dropdown-menu {
    background: none;
    border: none;
    border-radius: none;
    box-shadow: none;
  }
  /* line 105, ../../sass/presets/theme_weebpal_ishopping.scss */
  .style-theme_weebpal_ishopping .nav > li .dropdown-menu .megamenu-vx-row .megamenu-vx-col {
    border-top: 1px solid #444;
  }
  /* line 107, ../../sass/presets/theme_weebpal_ishopping.scss */
  .style-theme_weebpal_ishopping .nav > li .dropdown-menu .megamenu-vx-row .megamenu-vx-col:first-child {
    border-top: none;
  }
}
