@import url(../../fonts/oswald_regular/stylesheet.css);
/* line 3, ../../sass/presets/theme_weebpal_zircon.scss */
.style-theme_weebpal_zircon {
  color: #aaa;
}
/* line 5, ../../sass/presets/theme_weebpal_zircon.scss */
.style-theme_weebpal_zircon .navbar-collapse {
  background: url("../../images/presets/zircon/bg-nav.gif") repeat-x scroll 0 0 #282a2c;
  border-radius: 5px;
  position: relative;
  z-index: 499;
  margin-bottom: 0;
}
/* line 14, ../../sass/presets/theme_weebpal_zircon.scss */
.style-theme_weebpal_zircon .nav > li {
  background: url("../../images/presets/zircon/bg-line-nav.gif") no-repeat 0 0;
  padding-left: 1px;
}
/* line 17, ../../sass/presets/theme_weebpal_zircon.scss */
.style-theme_weebpal_zircon .nav > li > a {
  color: #d9d9d9 !important;
  border-right: none;
  font-family: 'oswaldregular';
  font-size: 13px;
  font-weight: normal;
  line-height: 21px;
  padding: 12px 25px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 28, ../../sass/presets/theme_weebpal_zircon.scss */
.style-theme_weebpal_zircon .nav > li:first-child {
  background: none;
  padding-left: 0;
}
/* line 33, ../../sass/presets/theme_weebpal_zircon.scss */
.style-theme_weebpal_zircon .nav > li:hover > a, .style-theme_weebpal_zircon .nav > li:focus > a, .style-theme_weebpal_zircon .nav > li.open > a, .style-theme_weebpal_zircon .nav > li.active > a {
  background: url("../../images/presets/zircon/bg-nav-active.gif") repeat-x scroll 0 0 #a01300;
  color: #fff !important;
}
/* line 40, ../../sass/presets/theme_weebpal_zircon.scss */
.style-theme_weebpal_zircon .dropdown-menu {
  background: #2f2f2f;
  border: 5px solid #a01300;
  margin: 0;
  min-width: 160px;
  padding: 0;
  position: absolute;
}
/* line 47, ../../sass/presets/theme_weebpal_zircon.scss */
.style-theme_weebpal_zircon .dropdown-menu .megamenu-vx-row {
  border-color: #444;
}
/* line 52, ../../sass/presets/theme_weebpal_zircon.scss */
.style-theme_weebpal_zircon .dropdown-menu ul li > a {
  border-top-color: #444;
  color: #aaa;
  float: none;
  font-family: Arial,Helvetica,sans-serif;
  line-height: normal;
  margin: 0 -10px;
  padding: 8px 10px !important;
  text-transform: none;
}
/* line 61, ../../sass/presets/theme_weebpal_zircon.scss */
.style-theme_weebpal_zircon .dropdown-menu ul li > a:hover, .style-theme_weebpal_zircon .dropdown-menu ul li > a:focus {
  color: #fff;
}
/* line 65, ../../sass/presets/theme_weebpal_zircon.scss */
.style-theme_weebpal_zircon .dropdown-menu ul li.active > a {
  color: #fff;
}

/* line 75, ../../sass/presets/theme_weebpal_zircon.scss */
.vertical .nav > li {
  background: none;
  padding: 0;
}
/* line 79, ../../sass/presets/theme_weebpal_zircon.scss */
.vertical .nav > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
/* line 84, ../../sass/presets/theme_weebpal_zircon.scss */
.vertical .nav > li:last-child > a {
  border-radius: 0 0 5px 5px;
}

@media (max-width: 992px) {
  /* line 96, ../../sass/presets/theme_weebpal_zircon.scss */
  .style-theme_weebpal_zircon .nav > li > a {
    border-color: #444;
  }
  /* line 101, ../../sass/presets/theme_weebpal_zircon.scss */
  .style-theme_weebpal_zircon .nav:hover > a, .style-theme_weebpal_zircon .nav:focus > a, .style-theme_weebpal_zircon .nav.open > a, .style-theme_weebpal_zircon .nav.active > a {
    border-color: #444;
  }
  /* line 103, ../../sass/presets/theme_weebpal_zircon.scss */
  .style-theme_weebpal_zircon .nav:hover > a:hover, .style-theme_weebpal_zircon .nav:hover > a:focus, .style-theme_weebpal_zircon .nav:focus > a:hover, .style-theme_weebpal_zircon .nav:focus > a:focus, .style-theme_weebpal_zircon .nav.open > a:hover, .style-theme_weebpal_zircon .nav.open > a:focus, .style-theme_weebpal_zircon .nav.active > a:hover, .style-theme_weebpal_zircon .nav.active > a:focus {
    border-color: #444;
  }
  /* line 109, ../../sass/presets/theme_weebpal_zircon.scss */
  .style-theme_weebpal_zircon .dropdown-menu {
    background: none;
    border: none;
  }
}
